# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
# .env.local
# .env.production
# secrets.json

# Database
*.db
*.db-shm
*.db-wal
webhook-data.json
visitor-stats.json

# Build outputs
build
out
api/dist
